@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-input {
  @apply block w-full p-2 border border-gray-300 rounded-lg bg-base-100 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 py-1.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-base h-[32px];
}

.app-checkbox {
  @apply w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:border-gray-600;
}

.app-select {
  @apply border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-base sm:text-sm py-0.5 h-[32px];
}

.background-gradient {
  @apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-black via-slate-900 to-black;
}

.cm-editor {
  height: 100%;
}

.cm-button {
  @apply !rounded-full !text-xs !text-info ;
}

*:focus {
  outline-style: auto !important;
}

.tab-lifted.tab-active:not(.tab-disabled):not([disabled]) {
  border-width: 0px;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  @apply bg-base-content text-base-300;
}

.tabs-lifted .tab-active:not(.tab-disabled):not([disabled]) {
  @apply bg-base-200;
}

dialog {
  color: inherit;
}

.gutter-vertical:hover {
  @apply bg-neutral-content rounded-lg;
  cursor: row-resize;
}

.gutter-horizontal:hover {
  @apply bg-neutral-content rounded-lg;
  cursor: col-resize;
}

#results {
  -webkit-user-select: auto; /* Safari */
  -ms-user-select: auto; /* IE 10 and IE 11 */
  user-select: auto;
}

.solid-contextmenu__item__content {
  padding: 0 1rem;
}

.solid-contextmenu {
  box-shadow: none;
}

.loading-xl {
  width: 6rem;
}

.tooltip::before {
  @apply z-50;
}


/* ag-grid */
.ag-theme-alpine, .ag-theme-alpine-dark {
    --ag-grid-size: 5px;
    --ag-list-item-height: 20px;
}
