@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  /* overflow: hidden; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.app-input {
  @apply block w-full p-2 border border-gray-300 rounded-lg bg-base-100 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 py-1.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-base;
}

.app-checkbox{
 @apply w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:border-gray-600;
}

.app-select {
  @apply border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-base sm:text-sm py-0.5;
}

.background-gradient {
  @apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-black via-slate-900 to-black;
}

.cm-editor {
  height: 100%;
}

*:focus {
  outline-style: auto !important;
}

.tab-lifted.tab-active:not(.tab-disabled):not([disabled]){
  border-width: 0px;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  @apply bg-accent;
}

dialog {
  color: inherit;
}

.gutter-vertical:hover{
  @apply bg-base-200;
  cursor: row-resize;
}

.gutter-horizontal:hover{
  @apply bg-base-200;
  cursor: col-resize;
}

/* Tabulator */

.tabulator-page {
  @apply text-base-content !important;
}

.tabulator-row-odd {
  @apply bg-base-100 !important;
}

.tabulator-row-even {
  @apply bg-base-200 !important;
}

.tabulator .tabulator-header .tabulator-col {
  @apply bg-base-300 text-base-content !important;
}

.tabulator-footer {
  @apply bg-base-300 text-base-content !important;
}

.tabulator-tableholder .tabulator-table, .tabulator-footer {
  @apply border-neutral-focus !important;
}

.tabulator-page-counter {
  @apply text-base-content !important;
}

.tabulator .tabulator-tableholder .tabulator-table {
  @apply text-base-content !important;
}

#results {
  -webkit-user-select: auto; /* Safari */
  -ms-user-select: auto; /* IE 10 and IE 11 */
  user-select: auto;
}
