@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cm-editor {
  height: 100%;
}

.cm-button {
  @apply !rounded-full !text-xs !text-info;
}

*:focus {
  outline-style: auto !important;
}

.tab-active:not(.tab-disabled):not([disabled]) {
  border-width: 0px;
  @apply bg-base-200;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  @apply bg-base-content text-base-300;
}

dialog {
  color: inherit;
}

.gutter-vertical:hover {
  @apply bg-neutral-content rounded-lg;
  cursor: row-resize;
}

.gutter-horizontal:hover {
  @apply bg-neutral-content rounded-lg;
  cursor: col-resize;
}

::-moz-selection { /* Code for Firefox */
  @apply bg-primary text-primary-content;
}

::selection {
  @apply bg-primary text-primary-content;
}

.solid-contextmenu__item__content {
  padding: 0 1rem;
}

.solid-contextmenu {
  box-shadow: none;
}

.loading-xl {
  width: 6rem;
}

.tooltip::before {
  @apply z-50;
}

/* ag-grid */
div[class*='ag-theme'] {
  --ag-grid-size: 4px;
  --ag-list-item-height: 16px;
  --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 2);
}
