@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  [data-kb-theme='dark'] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cm-editor {
  height: 100%;
}

*:focus {
  outline-style: auto !important;
}

dialog {
  color: inherit;
}

/* .gutter-vertical:hover { */
/*   @apply bg-neutral-content rounded-lg; */
/*   cursor: row-resize; */
/* } */
/**/
/* .gutter-horizontal:hover { */
/*   @apply bg-neutral-content rounded-lg; */
/*   cursor: col-resize; */
/* } */
/**/
/* ::-moz-selection { /* Code for Firefox */
*/
/*   @apply bg-primary text-primary-content; */
/* } */
/**/
/* ::selection { */
/*   @apply bg-primary text-primary-content; */
/* } */

.solid-contextmenu__item__content {
  padding: 0 1rem;
}

.solid-contextmenu {
  box-shadow: none;
}

.loading-xl {
  width: 6rem;
}

/* .tooltip::before { */
/*   @apply z-50; */
/* } */

/* ag-grid */
div[class*='ag-theme'] {
  --ag-grid-size: 4px;
  --ag-list-item-height: 16px;
  --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 2);
}

.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]),
.tabs-lifted > .tab:is(input:checked) {
  border-width: 0;
}
