# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
ssl_ca=/etc/ssl/mysql/certs/ca.pem
ssl_cert=/etc/ssl/mysql/certs/server.pem
ssl_key=/etc/ssl/mysql/certs/server.key
# SHOW SESSION STATUS LIKE 'Ssl_cipher';
